{% load staticfiles %} 
{% static '' as baseUrl %} 
<!doctype html>
<html>
<head>
<title>MODIFY BOOKS RECORDS</title> 
   
<link rel="stylesheet"  type="text/css"   href="{{baseUrl}}css.css">
<link rel="stylesheet"  type="text/css"   href="{{baseUrl}}css1.css">
</head> 
<body>
<div class="loginbox">
<img src="{{baseUrl}}icon.jpg" class="avatar">
<br><br><br>
<h1 style="color:blue;">DELETE RECORDS</h1>
<form action="delete">
Enter Book Number to delete
<input type="text" name="bno"><br><br>
<input type="submit" value="DELETE RECORD">
</form>
</body>

</html>
