{% load staticfiles %} 
{% static '' as baseUrl %} 
<!doctype html>
<html>
<head>
<title>MODIFY BOOKS RECORDS</title> 
   
<link rel="stylesheet"  type="text/css"   href="{{baseUrl}}css.css">
<link rel="stylesheet"  type="text/css"   href="{{baseUrl}}css1.css">
</head> 
<body>
<div class="loginbox">
<img src="{{baseUrl}}icon.jpg" class="avatar">
<br><br><br>
<h1 style="color:pink;">SEARCH BOOK</h1>
<a href="search1">1. BY BOOK NUMBER</a><br><br>
<a href="search2">2. BY NAME</a><br><br>
<a href="search3">3. BY AUTHOR</a><br><br>
</body>

</html>